.nazvaendsteam {
  display: flex;
    height: 737PX;
    position:absolute;
    top:0px;
    left:0px;
    right: 0PX;
    background-image: url(foto/FON1.png);
    
}

.nazva {
    margin-right: 300px; /* Добавляем отступ между текстами */
   
}

.foto {
    height: 50px;
    width: 100px;
    position:absolute;
    top:0px;
    left:0px;
    
}


.seti {
    display: flex;
}

.vk {
    margin-left: 50px;
    margin-right: 30px;
}

.tg {
    margin-right: 30px;
}

.stиm {
    margin-right: 30px;
}

.ds {
margin-right: 630px;
}



.steam {
    color: #df0cca;
    background-color: #610457;
    height: 40px;
}
